*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
     background-image: url(./media/eyes.jpg);
     background-size: cover;
    
}

#NavCont {
    background-image: url(./media/ğ–ğ¡ğšğ­ğğ¯ğğ«\ _\ ğ“„»ğ“„»\ à»‹\ Ì¹\ ğ†».jpg);
    background-size: auto;
    border-radius: 10px;

}

:root{
    --color-de--fondo: #000000;
    --color-de--texto: #0AFFFF;
    --color-de--acento: #00FF00;
    --color-de--titulo: #FF00FF;
}